.row-one {
    padding: 20px 5%;
  }
  .skills-img {
    width: 200px;
  }
  .skills-img h3 {
    margin: 0;
    line-height: 50px;
    text-align: center;
    color: rgb(0, 191, 255);
  }
  h3 {
    text-align: center;
  }